spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/to_do_list
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

